{% extends "spd_base.html" %}

{% block title %}Create Forms{% endblock %}

{% block inner_header %}
<h3>Create Forms</h3>
{% endblock %}

{% block content %}
{% if not ccyys_admin.forms_loaded %}
    <p>Athletic Student Services: When you are ready, click the button below to create Satisfactory Progress to Degree and Percentage of Degree Forms.</p>
    <form id = "index" action = "{% url 'create_forms' %}" method="get"> {% csrf_token %}
    	<input type ="submit" id="form_submitted" name="form_submitted" value="Create forms for {{ ccyys_admin.display_ccyys }}">
    </form>
{% else %}
  <h4>Satisfactory Progress and Percentage of Degree forms have been created for {{ ccyys_admin.display_ccyys }}. </h4>
{% endif %}

{% endblock %}